/* Image style features for SVG images. */
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

/* Centering for components. */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button Types */
.component_button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  padding: 12px 24px 12px 24px;
  margin-top: 10px;
  background-color:rgb(52, 76, 98);
  color: white;
  border-radius: 16px;
  width:fit-content;
  position:absolute;
  right: 10px;
  bottom: 10px;
}

.component_button_top {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  padding: 6px 12px 6px 12px;
  margin-top: 10px;
  background-color:rgb(52, 76, 98);
  color: white;
  border-radius: 16px;
  width:fit-content;
  position:absolute;
  top: 72px;
  right: 10px;
}

/* Text Types */
.component_header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(52, 76, 98);
  font-size: 30px;
  font-weight: 500;
  padding-top: 0px;
  margin-top: 0px;
  border-bottom: 2px solid rgb(52, 76, 98);
  padding-bottom: 10px;
}

.component_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(52, 76, 98);
  font-size: 20px;
  font-weight: 400px;
  padding-top: 0px;
}

.component_subheader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(52, 76, 98);
  font-size: 20px;
  font-weight: 700;
  padding-top: 0px;
}

/* Number box Types */
.number_box {
  height:fit-content;
  width: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.number_box_water_steps {
  height:fit-content;
  width: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 3px;
  margin: 15px;
}