/* CSS Design Elements for the header.*/
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(52, 76, 98);
  font-size: 50px;
  font-weight: 600;
  background-color: rgb(173, 180, 186);
  height: fit-content;
  padding: 10px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.component_button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(211, 217, 222);
  color: rgb(52, 76, 98);
  border-color: rgb(52, 76, 98);
  border-width: 2px;
  border-style: solid;
  width:fit-content;
  position:absolute;
  bottom: 10px;
  right: 10px;
}

.general_button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
  margin-top: 10px;
  background-color: rgb(211, 217, 222);
  color: rgb(52, 76, 98);
  border-color: rgb(52, 76, 98);
  border-width: 2px;
  border-style: solid;
  width:fit-content;
}

.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(52, 76, 98);
  font-size: 35px;
  font-weight: 500;
  background-color: rgb(173, 180, 186);
  height: fit-content;
  padding: 10px;
}

.component_header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(52, 76, 98);
  font-size: 35px;
  font-weight: 500;
  padding-top: 0px;
  margin-top: 0px;
}

.component_text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(52, 76, 98);
  font-size: 20px;
  font-weight: 400px;
  padding-top: 0px;
}

.checkbox_spacing input[type="checkbox"] {
  margin-left: 10px; /* Adjust the spacing as needed */
}

.number_spacing input[type="number"] {
  /* Adjust the spacing as needed */
  display:inline-block;
}

.dropdown_spacing {
  margin-top: 20px;
  display:block;
  background-color: rgb(211, 217, 222);
  padding: 10px;
  width:fit-content;
}

.component {
  background-color: rgb(173, 180, 186);
  height: 45vh;
  width: 33%;
  border: rgb(52, 76, 98);
  border-width: 1.5px;
  border-style: solid;
  padding: 10px;
  margin: 10px;
  position: relative;
}

/* Class to develop rows within the webpage. */
.row {
  display: flex;
}

.number_box {
  height:fit-content;
  width: 48px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}